<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%= url('/message.css') %>">
  <title>Read my mind, literally</title>
</head>
<body>
  <div class="container">
    <a href="/write-my-mind" class="hidden-button">Write a new message</a>
    <div class="message">
      <p class="verse-1"></p>
      <p class="verse-2"></p>
    </div>
    <div class="footer">
      <p>An attempt to throw the weight of tough days in some poetic ways. More intimate code-art relationships on <a href="https://www.yannklein.me">my portfolio</a>.</p>
    </div>
  </div>
  <script>
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    const verse1Elmt = document.querySelector(".verse-1");
    const verse2Elmt = document.querySelector(".verse-2");

    const verse1 = "\"<%= @message.verse_1 %>";
    const verse2 = "<%= @message.verse_2 %>\"";

    verse1.split('').forEach((letter, index) => {
      setTimeout(() => {
        verse1Elmt.innerHTML = `${verse1Elmt.innerHTML}${letter}`;
      }, 50 * index);
    });
    verse2.split('').forEach((letter, index) => {
      setTimeout(() => {
        verse2Elmt.innerHTML = `${verse2Elmt.innerHTML}${letter}`;
      }, 3000 + 50 * index);
    });
  </script>

</body>
</html>
