@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'EB Garamond', serif;
  color: rgb(40,40,40);
  background-color: rgb(253,253,253);
  margin: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 800px;
  margin: 0 auto;
}

.hidden-button {
  opacity: 0;
  color: white;
}

.message {
  font-size: 32px;
  opacity: 1;
  width: 100%;
  height: 3em;
}

.message .verse-2 {
  margin-left: 5em;
}

.footer {
  text-align: center;
  font-weight: lighter;
  margin: 16px;
}

@media (max-width: 1200px) {
  .container {
    width: 700px;
  }
  .message p {
    font-size: 32px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .container {
    width: 500px;
  }
  .message p {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  .message {
    width: 300px;
  }

  .message .verse-2 {
      margin-left: 0;
  }

  .message p {
    font-size: 24px;
    display: inline;
  }

  .footer {
    text-align: justify;
    font-size: 14px;
  }
}
