@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'EB Garamond', serif;
  color: rgb(40,40,40);
  background-color: rgb(253,253,253);
  margin: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}

.message p {
  font-size: 48px;
}

.message .verse-2 {
  text-align: right;
}

.footer {
  text-align: center;
  font-weight: lighter;
  margin: 16px;
}

@media (max-width: 1200px) {
  .container {
    width: 700px;
  }
  .message p {
    font-size: 32px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 500px;
  }
  .message p {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  .message {
    width: 300px;
  }
  .message p {
    font-size: 20px;
    display: inline;
  }

  .footer {
    text-align: justify;
  }
}
